<!doctype html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel='stylesheet' href='stylesheets/400.css'>
</head>

<body>
  <main>
    <header><h1>{{title}}</h1></header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UcCHRW8G9yY?rel=0&autoplay=1" frameborder="0"/iframe>
  </main>
</body>
