<!doctype html>
<head>
	<meta charset=utf-8>
	<title>{{title}}</title>
	<script>
	const loc = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
	console.warn(`attempting to redir to ${loc}`)
	document.addEventListener('DOMContentLoaded', _ => { window.location.replace(loc) })
	</script>
</head>
<body>
	<h1>{{title}}</h1>
	<p>This is awkward... Press F12.</p>
</body>
