<article>
  <section>
    <header>
      <h1>{{title}}</h1>
    </header>
      <img id=profile src="resources/about/me.jpg"/>
      <p>When I'm finally interesting, I'll put something here.</p>
    </section>

    <section>
      <header>
        <h2>Contact</h2>
      </header>
      <div class=myList>
        <p>Twitter: <a href="https://twitter.com/_lux0n">lux0n</a></p>
        <p>Github: <a href="https://github.com/hjfitz">hjfitz</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/harry-fitzgerald-454187138">Harry Fitzgerald</a></p>
      </div>
        <p>Or, if you'd pefer to see my CV, it's available <a href="CurriculumVitae.pdf">here</a> (PDF).</a></p>
    </section>
</article>
