<article>
<section>
  <header>
    <h1>{{title}}</h1>
  </header>
  <div class="myList">
    {{#each files}}
    <p>{{unitName}}: <a href="{{filename}}">{{unitShortName}}</a></p>
    {{/each}}
  </div>
</section>
</article>
