<section>
  <header>
    <h1>{{title}}</h1>
  </header>
  <div id="grade-input">
    <form id="welcome-form">
      <label>How many submissions do you have?</label>
      <input id="num-units" placeholder="2">
      <button id="set-submissions">Set</button>
    </form>
  </div>
</section>
<script type="text/javascript" src="javascripts/grade.js"></script>
