<!doctype html>
<head>
  <meta charset="UTF-8">
  <title>Harry Fitzgerald</title>
  <link rel=stylesheet href=stylesheets/menu.css >
  <link rel=stylesheet href=stylesheets/splash.css >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name=viewport content="width=device-width, user-scalable=no">
  <meta name=theme-color content=#282c33 >
</head>
<body>
  <div id=hackycode><p>Made with</p><i class="material-icons">favorite</i>
</div>
  <nav>
    <div class=navright>
      <a href=blog/blog.php>BLOG</a>
      <a href=projects.html>PROJECTS</a>
      <a href=about.html>ABOUT</a>
    </div>
  </nav>

<header>
  <h1>Harry Fitzgerald</h1>
  <p id=tagline>Computer Science Student; Website owner
</header>
  <footer>
    <p>Check my  <a href="http://validator.w3.org/check?uri=referer">HTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> validity!</p>
</body>
