<article>
<section>
  <h1>Personal Projects</h1>
  <p>I don't often to a lot of stuff, but when I do, I tend to over-complicate it. This page holds some of those over-complications.</p>
</section>
<section>
  <a class=projimg href="resources/personal-projs/hjf_io.png"><img alt="a screenshot of my website" src="resources/personal-projs/hjf_io.png"></a>
  <h2 id=hjf><a href=#hjf>hjf.io</a></h2>
  <p><a href=http://hjf.io>hjf.io</a> is my personal website. I bought the domain because it looked cool and had my initials in it.</p>
  <p>This site is where I practise my web development skills, both front-end and back-end. I test things here before implementing them on my coursework-website</p>
  <p>I host the website on a <a href="https://www.raspberrypi.org/">Raspberry Pi</a>, which uses <a href="https://www.debian.org/">Debian GNU/Linux</a>!</p>
  <p>It has a cool <a href=http://hjf.io/404>404 page</a> too! Check it out.</p>


</section>
<section>
  <a class=projimg href="https://github.com/hjfitz/sadbot"><img alt="I thought that the github image was better than the bot in action" src="resources/personal-projs/gitmark120.png"></a>
  <h2 id="sadbot"><a href="#sadbot">Sadbot</a></h2>
  <p>Sadbot was my first foray in to programming.</p>
  <p>The program was an IRC bot - a robot that would enter a chatroom that
    friends and I used. We would enter a command like 'weather portsmouth'
    or 'nowplaying harry' and the bot would respond with the appropriate information</p>
  <p>The idea behind using bash was simple:
    No one had a programming language in common. I knew shell, a friend knew
    Lua, another Ruby and another Python. In using Shell, those friends could
    write modules for that bot (using the API we agreed on) and those modules
    could be used in the chat room.</p>
    <p>Click the image or <a href="https://github.com/hjfitz/sadbot">here</a> for the source code!</p>
</section>
<section>
  <a class=projimg href=hjf.io/upld><img alt="The site in action" src=resources/personal-projs/upld.png></a>
  <h2 class=upld><a href=#upld>Upld.</a></h2>
  <p>Upld was a little side project to share files using my website. It soon evolved to accept only images and connect to a MySQL database - to ensure there are no duplicates.</p>
  <p>While the PHP isn't quite finished, it functions... The database is almost pointless at this point though. I hope to migrate to Node with SQLite in the future.</p>
  <p> If you're brave, you can look at the <a href=https://github.com/hjfitz/upld>code</a> on my <a href=https://github.com/hjfitz>github.</a></p>
</section>
<section>
  <a class=projimg href=hjf.io/hn-pretty><img alt="HN looks so much better with materialize!" src=resources/personal-projs/hn.png></a>
  <h2 id=hn><a href=#hn>hn-pretty</a></h2>
  <p>
    If you've ever read Hacker news, you might find it a little clunky and ugly.
  </p>
  <p>
    As a small side-project to better learn AJAX in pure JS, I decided to utilise the HN API to create this - whilst the comments still link to ycombinator.
  </p>
  <p>
    The only external library that it uses is Materialize, to make it look better. I use it from day to day, but I need to look in to async requests to make it faster.
  </p>
  <p>The code is available <a href=https://github.com/hjfitz/hn-pretty>here.</a></p>
</section>
</article>
