<section>
  <main>
     <header><h1>{{title}}</h1></header>
     <p>So far, there have been <span id=count>0</span> questions</p>
     <a href=# id=inc>Asked!</a>
     <a href=# id=ref>Refresh</a>
     <p>This means that she's asking questions at a rate of <span id=qpm>0</span> questions per minute (for the entirety of the lecture)</p>
   </main>
<script type='text/javascript' src='javascripts/question.js'></script>
